@model DSWI_Proyecto_Frontend.Models.Prioridad

@{
    ViewData["Title"] = "Crear Prioridad";
}

<h1>Crear Prioridad</h1>

<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="CrearPrioridad">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Descripcion" class="form-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Crear</button>
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="ListarPrioridad" class="btn btn-secondary">Volver a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}