@model DSWI_Proyecto_Frontend.Models.ProyectoOriginal

@{
    ViewData["Title"] = "CrearProyecto";
}

<h1>CrearProyecto</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearProyecto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreProyecto" class="control-label">Nombre</label>
                <input asp-for="NombreProyecto" class="form-control" />
                <span asp-validation-for="NombreProyecto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionProyecto" class="control-label">Descripción</label>
                <input asp-for="DescripcionProyecto" class="form-control" />
                <span asp-validation-for="DescripcionProyecto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdTarea" class="control-label">Tarea</label>
                <select asp-for="IdTarea" class="form-control" asp-items="ViewBag.listaTareas">
                    <option value="">Seleccione una tarea</option>
                </select>
                <span asp-validation-for="IdTarea" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label">Categoría</label>
                <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.listaCategorias">
                    <option value="">Seleccione una categoría</option>
                </select>
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdEstado" class="control-label">Estado</label>
                <select asp-for="IdEstado" class="form-control" asp-items="ViewBag.listaEstados">
                    <option value="">Seleccione un estado</option>
                </select>
                <span asp-validation-for="IdEstado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdPrioridad" class="control-label">Prioridad</label>
                <select asp-for="IdPrioridad" class="form-control" asp-items="ViewBag.listaPrioridades">
                    <option value="">Seleccione una prioridad</option>
                </select>
                <span asp-validation-for="IdPrioridad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdComplejidad" class="control-label">Complejidad</label>
                <select asp-for="IdComplejidad" class="form-control" asp-items="ViewBag.listaComplejidades">
                    <option value="">Seleccione una complejidad</option>
                </select>
                <span asp-validation-for="IdComplejidad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label">Fecha Inicio</label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label">Fecha Fin</label>
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mes" class="control-label"></label>
                <input asp-for="Mes" class="form-control" />
                <span asp-validation-for="Mes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label">Responsable</label>
                <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.listaUsuarios">
                    <option value="">Seleccione un usuario</option>
                </select>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdArea" class="control-label">Área</label>
                <select asp-for="IdArea" class="form-control" asp-items="ViewBag.listaAreas">
                    <option value="">Seleccione un área</option>
                </select>
                <span asp-validation-for="IdArea" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdTipo" class="control-label">Tipo</label>
                <select asp-for="IdTipo" class="form-control" asp-items="ViewBag.listaTipos">
                    <option value="">Seleccione un tipo</option>
                </select>
                <span asp-validation-for="IdTipo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Presupuesto" class="control-label">Presupuesto</label>
                <input asp-for="Presupuesto" class="form-control" />
                <span asp-validation-for="Presupuesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asignado" class="control-label"></label>
                <input asp-for="Asignado" class="form-control" />
                <span asp-validation-for="Asignado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Porcentaje" class="control-label"></label>
                <input asp-for="Porcentaje" class="form-control" />
                <span asp-validation-for="Porcentaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentarios" class="control-label"></label>
                <input asp-for="Comentarios" class="form-control" />
                <span asp-validation-for="Comentarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListarProyecto">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
